@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}<div id="main-container">
	<div id="main" class="wrapper clearfix">
		<section>
			<h2>@Umbraco.Field("articleTitle")</h2>
			
			@Umbraco.Field("articleContents")
			
			
		</section>
	</div>
</div>