@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContatoContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Contato.cshtml";
}  
<!-- ------------------ Dynamic Header ------------------ -->

@Html.Partial("archetypeSHeadPartial-Contato")

<!-- ------------------ Dynamic Header ------------------ -->

  <div class="mobileMargins container-fluid col-centered">
    <div class="container-fluid greyBody"  style="max-width: 1200px; background-color: #f9f9f9;">
    <div class="row col-12-md">
    <h2 class="subhead">@Umbraco.Field("subTitle", removeParagraphTags: true)</h2>
	
		
@if (Model.Content.HasValue("subTitleIcon"))
{
    var caseStudyImagesList = Model.Content.GetPropertyValue<string>("subTitleIcon").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var caseStudyImagesCollection = Umbraco.TypedMedia(caseStudyImagesList).Where(x => x != null);

    foreach (var subTitleIcon in caseStudyImagesCollection)
        {      
            <img class="img-responsive acessiIcon" src="@subTitleIcon.Url" />
        }                                                               
}

		
			
    </div>

    <div class="row col-md-12 body-copy">
      
      <p>@Umbraco.Field("pageBodyText", removeParagraphTags: true)</p>

    </div>
    
</div>