@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GuiaDoUsuario>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}
<h1>Guia Content</h1>

@RenderBody()