@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

<!--  HERO SLIDER  -->

  <div class="container-fluid heroWrap col-centered center-block">
 <div class="sliderTemp">

    <div><img class="img-responsive" src="/media/1011/CCRMetro_Bannersite_1200X540.jpg"></div>
    <div><img class="img-responsive" src="/media/1011/CCRMetro_Bannersite_1200X540.jpg"></div>
    <div><img class="img-responsive" src="/media/1011/CCRMetro_Bannersite_1200X540.jpg"></div>
    <div><img class="img-responsive" src="/media/1011/CCRMetro_Bannersite_1200X540.jpg"></div>
    <!-- FPO  <div><img src="http://placehold.it/1200x540"></div> -->

  </div>
  </div>
  
  <!--  HERO SLIDER END  -->