@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

  <div class="container-fluid heroWrap col-centered center-block">

 <!-- ------------------ Slider ------------------ -->
  
      <div class="sliderTemp">

@if (Model.Content.HasValue("sliderPictures"))
{
    var caseStudyImagesCollection = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("sliderPictures");

    foreach (var sliderPictures in caseStudyImagesCollection)
        {      
            <div><img  class="img-responsive" src="@sliderPictures.Url" /></div>      
        }                                                               
}
  </div>

<!-- ------------------ Slider ------------------ -->

  </div>