@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InformacoesItens>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

<div class="row col-md-12 metroNumerosWrap">
      
      <div class="metroNumeroInnerWrap"><p class="metroNumeros">@Umbraco.Field("itemNumber" , removeParagraphTags: true)</div>
      <div class="metroBodyWrap"><p class="metroNumerosTexto">@Umbraco.Field("itemDescription" , removeParagraphTags: true)</p></div>

    </div>