@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InformacoesItens>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

<div class="row col-md-12 metroNumerosWrap">
      
      <div class="metroNumeroInnerWrap"><p class="metroNumeros">@Umbraco.Field("numerosDataBlock" , removeParagraphTags: true)<br><span class="metroDetail">@Umbraco.Field("numerosDataNONO" , removeParagraphTags: true)</span></p></div>
      <div class="metroBodyWrap"><p class="metroNumerosTexto">@Umbraco.Field("numerosDescription" , removeParagraphTags: true)</p></div>

    </div>