@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InstitucionalContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Institucional.cshtml";
}

<h1>Institutional Sub Content</h1>