@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PorDentroDoMetro>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

<h1>Por dentro do Metrô Content</h1>