@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>

@{

    Layout = "";
    }


@if (Model.Items.Any())
{
  <!-- Wrapper for slides -->
    <ul>
        @{
        var item = Model.Items.ElementAt(0);

        var imageList = item.GetValue<string>("multiImageSlider");
        if (!string.IsNullOrWhiteSpace(imageList))
                {
                    var imgList = imageList.Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);

                    var imgListCollection = Umbraco.TypedMedia(imgList);

                    if (imgListCollection != null)
                    {
                        foreach (var img in imgListCollection)
                        {
                            <li><img src="@img.Url"></li>
                        }
                    }
                }
        }
    </ul>
}