<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT guiaDoUsuario ANY>
<!ATTLIST guiaDoUsuario id ID #REQUIRED>
<!ELEMENT guiaContentPage ANY>
<!ATTLIST guiaContentPage id ID #REQUIRED>
<!ELEMENT institucional ANY>
<!ATTLIST institucional id ID #REQUIRED>
<!ELEMENT institucionalContentPage ANY>
<!ATTLIST institucionalContentPage id ID #REQUIRED>
<!ELEMENT porDentroDoMetro ANY>
<!ATTLIST porDentroDoMetro id ID #REQUIRED>
<!ELEMENT comercial ANY>
<!ATTLIST comercial id ID #REQUIRED>
<!ELEMENT imprensa ANY>
<!ATTLIST imprensa id ID #REQUIRED>
<!ELEMENT contato ANY>
<!ATTLIST contato id ID #REQUIRED>
<!ELEMENT porDentroContentPage ANY>
<!ATTLIST porDentroContentPage id ID #REQUIRED>
<!ELEMENT imprensaContentPage ANY>
<!ATTLIST imprensaContentPage id ID #REQUIRED>
<!ELEMENT comericialContentPage ANY>
<!ATTLIST comericialContentPage id ID #REQUIRED>
<!ELEMENT contatoContentPage ANY>
<!ATTLIST contatoContentPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT numerosMain ANY>
<!ATTLIST numerosMain id ID #REQUIRED>
<!ELEMENT numerosItem ANY>
<!ATTLIST numerosItem id ID #REQUIRED>
<!ELEMENT metroEmNumeros ANY>
<!ATTLIST metroEmNumeros id ID #REQUIRED>
<!ELEMENT anchorLinks ANY>
<!ATTLIST anchorLinks id ID #REQUIRED>
<!ELEMENT informacoesMain ANY>
<!ATTLIST informacoesMain id ID #REQUIRED>
<!ELEMENT informacoesItens ANY>
<!ATTLIST informacoesItens id ID #REQUIRED>
<!ELEMENT dynamicTabContent ANY>
<!ATTLIST dynamicTabContent id ID #REQUIRED>
<!ELEMENT dynamicTabItems ANY>
<!ATTLIST dynamicTabItems id ID #REQUIRED>
<!ELEMENT tabDynamic ANY>
<!ATTLIST tabDynamic id ID #REQUIRED>
<!ELEMENT numerosAtype ANY>
<!ATTLIST numerosAtype id ID #REQUIRED>
<!ELEMENT informacoes ANY>
<!ATTLIST informacoes id ID #REQUIRED>
<!ELEMENT infoAtype ANY>
<!ATTLIST infoAtype id ID #REQUIRED>
<!ELEMENT assessoriaAtype ANY>
<!ATTLIST assessoriaAtype id ID #REQUIRED>
<!ELEMENT pageSubContentBlock ANY>
<!ATTLIST pageSubContentBlock id ID #REQUIRED>
<!ELEMENT faleComAAssessoria ANY>
<!ATTLIST faleComAAssessoria id ID #REQUIRED>
<!ELEMENT comunicacaoAtype ANY>
<!ATTLIST comunicacaoAtype id ID #REQUIRED>
<!ELEMENT customTabs ANY>
<!ATTLIST customTabs id ID #REQUIRED>
]>
<root id="-1" />