@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;

@{
    Layout = null;
}
@foreach(var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("atendimentoAtype"))
{

    <div class="col-4-sm contactAtendimentoTitle">
        
        <img src="/media/1082/atendimento-phone-icon.png" class="img-responsive contactIcon" style="float:right;" alt="" />
        
        <h1 class="contactAtendimento">Central<br>De Atendimento</h1>
        <p class="contactAtendimentoNumero">@fieldset.GetValue("numeroDeContato")</p>
        <p class="atendimentoDaysHours">@fieldset.GetValue("diasEHoras-c1")<br>@fieldset.GetValue("diasEHoras-c2")</p>
    </div>
    
}
