@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;


@foreach(var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("hSectionItems"))
{
   
   	<div class="container-fluid heroWrap heroSpaceGuia">
        <div class="header-icon">	

    @{
        var imageUrl = fieldset.GetValue<IPublishedContent>("hIcon").Url;
     }
     <img src="@imageUrl"/>      


			
			</div>
        <div>
           <h1 class="internal-header">@fieldset.GetValue("hTitle")</h1>
        </div>
       <div>@fieldset.GetValue("hIntro")</div>
  </div>
  
  }
  