@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;

@{
    Layout = null;
}
@foreach(var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("assessoriaAtypeList"))
{

 <div class="assessoriaBlock"><img class="assessoriaIcon" src="/media/1045/assessoria-icon.png">
          <p>
            <span class="assessoriaNome"><strong>@fieldset.GetValue("nome")</strong></span><br>
            <span class="assessoriaTitle">@fieldset.GetValue("titulo")</span><br>
            <span class="assessoriaEmail"><strong><a class="assessoriaEmailAddy" href="mailto:#">@fieldset.GetValue("eMail")</a></strong></span><br>
            <span class="assessoriaTel"><strong>@fieldset.GetValue("telefone")</strong></span>
          </p>
          </div>

    
}