@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;



@foreach(var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("numAtype"))
{
 
 
 
 
    
           <div class="row col-md-12 metroNumerosWrap">
      
      <div class="metroNumeroInnerWrap"><p class="metroNumeros">@fieldset.GetValue("numberInput")<br><span class="metroDetail">@fieldset.GetValue("numberDetail")</span></p></div>
      <div class="metroBodyWrap">@fieldset.GetValue("descriptionInput")</div>

    </div>
    
    
}


