@using PagedList.Mvc;
@using PagedList;


                @foreach (var result in Model.SearchResults)
                {
                    
<article class="search-result">
                            
<div class="col-md-11">
                                <a title="@result.Name" href="@result.Url" >
                                    @result.Name
                                </a>
                            </div>

                    </article>

                }

                
<div class="pagination-area">
                    @Html.PagedListPager(Model.SearchResults, page => "htt://www.yourwebsiteurl" + HttpContext.Current.Request.QueryString["p"])
                </div>
